{% extends 'base.html' %}
{% block title %}Página Principal{% endblock title %}

{% block content %}

<!-- <section id="features">
    <h2>Características</h2>
    <ul>
        <li>Visualização em tempo real do sinal de ECG</li>
        <li>Armazenamento e recuperação de sinais</li>
        <li>Processamento de sinais para detecção de ataques cardíacos</li>
        <li>Gestão de informações do paciente</li>
        <li>Relatórios e análises</li>
      </ul>
      <section id="reasons">
        <h2>Razões para usar nosso site de análise de ECG</h2>
        <ul>
          <li>Deteção precoce de condições relacionadas ao coração</li>
          <li>Conveniência de monitoramento remoto</li>
          <li>Armazenamento e recuperação eficientes de sinais para análise histórica</li>
          <li>Melhoria na gestão e rastreamento de pacientes</li>
          <li>Deteção rápida e precisa de ataques cardíacos</li>
        </ul>
  </section> -->

  <footer>
    <p>&copy; 2023 Temperature Analysis Website. All rights reserved.</p>
  </footer>

{% endblock %}